body {
  background: darkgray;
  margin: 0;
  padding: 16px;
}

#main {
  display: flex;
  flex-direction: row;
  width: 300px;
}

#preview {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150px;
}

#selected-color {
  height: 100px;
  width: 100px;
}

#result {
  font-size: 14px;
}

#controls {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

#favorites {
  display: flex;
  flex-direction: row;
  width: 300px;
}

#favorites .color-selector {
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.red {
  background: rgba(255, 0, 0, 1);
}

.green {
  background: rgba(0, 255, 0, 1);
}

.blue {
  background: rgba(0, 0, 255, 1);
}

.white {
  background: rgba(255, 255, 255, 1);
}

.warm-white {
  background: rgba(255, 214, 170, 1);
}
